[Unit]
Description=Bluetooth attach service on %I
ConditionPathIsDirectory=/sys/bus/platform/drivers/imx-sdma
BindsTo=dev-%i.device
Requires=firmwared.service
After=dev-%i.device firmwared.service
Before=bluetooth.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/opt/btattach/btattach.sh %I
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
